.current-location{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 220px;
}



.curent-loc-item>a{
    text-decoration: none;
    color:#384D54;
    height: 16px;
}

.curent-loc-item>img{
    padding-left: 7px;
    padding-right: 7px;
}

.curent-loc-item>a:last-child{
    color: grey;
}