.page-category{
    margin-top: 100px;
    margin-left: 220px;
}

.page-category-ul{
    display: flex;
}

.page-category-ul>li{
 padding-right: 59px;
 font-family: "PT sans";
 font-weight: 700;
 
}

.page-category-ul>li>a{
    text-decoration: none;
    color: #564D4D;
}

.greyLine{
width: 1520.11px;
border-bottom: solid 3px #E2E2E2;
margin-top: 32px;
margin-bottom: 60px;
}