.page-category{
    margin-left: 200px;
    margin-top:50px;
}

.page-category-margin-top{
    margin-top: 220px;
}



.page-category-ul{
    display: flex;

}

.page-category-ul>li{
 padding-right: 10px;
 font-family: "PT sans";
 font-weight: 700;
 margin-right: 4%;
 
}

.page-category-ul>li>a{
    text-decoration: none;
    color: #564D4D;
}



.underlineBorder{
    position: relative;
    border-bottom: #384685 solid 4px;
    padding-bottom: 30px;
    margin-bottom: -35px;
}


.borderOff{
    border: none;
}

.greyLine{
width: 1520.11px;
border-bottom: solid 3px #E2E2E2;
margin-top: 32px;
margin-bottom: 60px;
}